.cart-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-items h2{
    text-align: center;
    margin: 40px 0;
}

.cart-line-items{
    display: flex;
    gap: 20px;
}
.cart-line{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cart{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cart-text{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cart-text span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.cart-title{
    font-size: 14px;
    max-width: 120px;
}
.cart-desc{
    font-size: 12px;
    max-width: 420px;
}

.order{
    text-align: end;
    margin-right: 40px;
}

.buttons-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.buttons-group button{
    border: none;
    font-size: 20px;
}

.buttons-group button:nth-child(2){
    color: red;
}
.buttons-group button:nth-child(3){
    color: green;
}
.cart-qty{
    font-size: 12px;
}