.head{
    background-color: cornflowerblue;
    padding: 10px 30px;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 7px 5px rgba(0,0,0,0.36)
;
position: sticky;
top: 0;
z-index: 5;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header h3{
    color: whitesmoke;
    box-shadow: 0px 5px 7px 5px rgba(0,0,0,0.36)
    ;
    padding: 2px 10px;
    border-radius: 4px;
}
.header-title-bar{
    display: flex;
    justify-content: space-between;
}
.header-price-box{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    box-shadow: 0px 5px 7px 5px rgba(0,0,0,0.36);
    cursor: pointer;
    
}
.header-price-box p{
    position: absolute;
    right: -5px;
    top: -10px;
    background-color: white;
    border-radius: 100%;
    font-size: 12px;
    padding: 1px 3px;
    box-shadow: 0px 5px 7px 5px rgba(0,0,0,0.36)

}
.nav{
    text-align: end;
}

.btn-store{
    position: absolute;
    right: 120px;
    padding: 5px 12px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 5px 7px 5px rgba(0,0,0,0.36)

}