.main{
    background-color: lavender;
    min-height: 80vh;
}

.main-product{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.product-cards{
    display: flex;
    width: 220px;
    margin-bottom: 40px;
    border: 1px solid grey;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.36);
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.product .title{
    font-size: 14px;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
.price-order{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}

.btn-order{
    padding: 2px 10px;
}

.category-list{

    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0px;

}
.category-list li{
    border: 1px solid grey;
    padding: 2px 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.36);
    cursor: pointer;
}
.main-category h3{
    text-align: center;
    margin-top: 20px;
}

.main h3{
    text-align: center;
}